<header>
  <h2>Lab booking</h2>
</header>
<nav>
  <a target="target" routerLink="/home" routerLinkActive="active">Home</a>&nbsp;&nbsp;|
  <a target="target" routerLink="/profile" routerLinkActive="active">Edit Profile</a>&nbsp;&nbsp;|
  <a target="target" routerLink="/login" routerLinkActive="active">Logout</a>&nbsp;&nbsp;
</nav>

<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
    <label for="name">Name</label><br>
   <input type="text" name="name" ngModel placeholder="Name" required><br><br>

   <label for="labName">lab Name</label><br>
   <select *ngFor="let labs of lab"><br>
        <option value="{{labs.Lab_Name}}"></option>
        
  </select><br><br>
   <label for="purpose">Purpose of study</label><br>
   <select name="purpose" id="purpose"><br>
       <option value="study">Study</option>
       <option value="attend">Attend</option>
       <option value="assignment">Assignment</option>
   </select><br><br>
   <label for="slot">Choose Slot</label><br>
   <select *ngFor="let labs of lab"><br>
        <option value="slotA">{{labs.Lab_Slot}}</option>
    </select><br>

    <br><br><button type="submit">Book</button>
    <br><br>
  </form>
  <div style="text-align: center;">
    <button type="button" (click)="onClickUpdate()">Update booking</button>&nbsp;&nbsp;
    <button type="button" (click)="onClickCancel()">Cancel Booking</button>
  </div>


<!--<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      
      <th>Lab Name</th>
      <th>Lab Slot</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let labs of lab">
      
      <td><span>{{labs.Lab_Name}}</span></td>
      <td><span>{{labs.Lab_Slot}}</span></td>
      
    </tr>
    </tbody>
  </table>
</div>

-->




