<header>
  <h2>Lab booking</h2>
</header>
<nav>
  <a target="target" routerLink="/home" routerLinkActive="active">Home</a>&nbsp;&nbsp;|
  <a target="target" routerLink="/profile" routerLinkActive="active">Edit Profile</a>&nbsp;&nbsp;|
  <a target="target" routerLink="/login" routerLinkActive="active">Logout</a>&nbsp;&nbsp;
</nav>

<!--<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
    <label for="name">Name</label><br>
   <input type="text" ngModel placeholder="Name" required><br><br>

   <label for="labName">lab Name</label><br>
   <select name="labs" id="lab"><br>
        <option value="10-120">Lab 10-120</option>
        <option value="10-138">Lab 10-138</option>
        <option value="10-132">Lab 10-132</option>
        <option value="10-128">Lab 10-128</option>
  </select><br><br>
   <label for="purpose">Purpose of study</label><br>
   <select name="purpose" id="purpose"><br>
       <option value="study">Study</option>
       <option value="attend">Attend</option>
       <option value="assignment">Assignment</option>
   </select><br><br>
   <label for="slot">Choose Slot</label><br>
   <select name="slot" id="slot"><br>
        <option value="slotA">Slot A 08h00 - 10h00</option>
        <option value="slotB">Slot B 10h00 - 12h00</option>
        <option value="slotC">Slot C 12h00 - 14h00</option>
        <option value="slotD">Slot D 14h00 - 16h00</option>
        <option value="slotE">Slot E 16h00 - 18h00</option>
        <option value="slotF">Slot F 18h00 - 20h00</option>
        <option value="slotG">Slot G 20h00 - 22h00</option>
    </select><br>

    <br><br><button type="submit">Book</button>
    <br><br>
  </form>
  <div style="text-align: center;">
    <button type="button" (click)="onClickUpdate()">Update booking</button>&nbsp;&nbsp;
    <button type="button" (click)="onClickCancel()">Cancel Booking</button>
  </div>



  <h1>Drop Down</h1>
  <select [(ngModel)]="selectedLevel" (change)="selected()">
    <option *ngFor="let item of data" [ngValue]="item">{{item}}</option>
  </select>
-->
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      
      <th>Lab Name</th>
      <th>Lab Slot</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let labs of lab">
      
      <td><span>{{labs.Lab_Name}}</span></td>
      <td><span>{{labs.Lab_Slot}}</span></td>
      
    </tr>
    </tbody>
  </table>
</div>






