
<nav>
    <a target="target" routerLink="/admin" routerLinkActive="active">Admin</a>&nbsp;&nbsp;|
    <a target="target" routerLink="/view-bookings" routerLinkActive="active">View Bookings</a>&nbsp;&nbsp;|
    <a target="target" routerLink="/schedule" routerLinkActive="active">schedule</a>&nbsp;&nbsp;
    
  </nav>
  <br>
  <br>
  Registered user

  <!--table to display all registered users-->
  <table class="table">
    <thead>
      <th>Student Number</th>&nbsp;
      <th>Name</th>&nbsp;
      <th>Surname</th>&nbsp;
      <th>Email</th>&nbsp;
    
    </thead>
    
     <tbody>
      <!-- <tr *ngFor="">
                    
        <td><span>{{users.student_number}}</span></td>&nbsp;
        <td><span>{{users.name}}</span></td>&nbsp;
        <td><span>{{users.surname}}</span></td>&nbsp;
        <td><span>{{users.email</span></td>&nbsp;
      </tr> sss-->
      
    </tbody>
  </table>
<br>

<div id ="footer">
  <footer>
    <a class="contact" href="">contact Us</a><br><br>
    <a class="about" href="">About</a>
          <div class="footer-widget social-widget">
              <h4>Follow Us</h4>
              <ul class="social-icons">
                  <li><a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a></li>
                  <li><a class="twitter" href="https://twitter.com/official_tut">Twitter</a></li>
                  <li><a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a></li>
              </ul>
          </div>
           <a href="https://sacoronavirus.co.za/"><img alt="SACoronavirus Resource and News Portal" width="500" height="80" src="/LBS-front/src/assets/images/SACoronavirus.png"></a>
  </footer>
</div> 
