<app-admin></app-admin>
<header>
    <h1>Booking Details</h1>
  </header>
  <!--<nav>
    <a target="target" routerLink="/home" routerLinkActive="active">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a target="target" routerLink="/lab-booking" routerLinkActive="active">Lab Booking</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a target="target" routerLink="/profile" routerLinkActive="active">Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <button type="button" (click)="onClick()">Logout</button>
  </nav>
 
 <form #userPost="ngForm" (ngSubmit)="getBookings(userPost.value)" style="text-align: center;">
    <h3  *ngFor="let details of detail" for="stuNumber" name="stuNumber" ngModel="{{this.details.stud_no}}">
      {{this.details.stud_no}}</h3>
  </form>
 -->
  
  <table class="table">
    <thead>
    <tr>
      <th>Booking ID</th>&nbsp;
      <th>Lab Name</th>&nbsp;
      <th>Lab Slot</th>&nbsp;
      <th>Number of Bookings</th>&nbsp;
      <th>Student Number</th>&nbsp;
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bookings of booking">
      <td><span>{{bookings.Booking_ID}}</span></td>&nbsp;
      <td><span>{{bookings.Lab_Name}}</span></td>&nbsp;
      <td><span>{{bookings.Lab_Slot}}</span></td>&nbsp;
      <td><span>{{bookings.Num_Bookings}}</span></td>&nbsp;
      <td><span>{{bookings.Stud_ID}}</span></td>&nbsp;
      <td><span></span></td>&nbsp;
      
    </tr>
    </tbody>
  </table>
<br>
<div id ="footer">
  <footer>
    <a class="contact" href="">contact Us</a><br><br>
    <a class="about" href="">About</a>
          <div class="footer-widget social-widget">
              <h4>Follow Us</h4>
              <ul class="social-icons">
                  <li><a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a></li>
                  <li><a class="twitter" href="https://twitter.com/official_tut">Twitter</a></li>
                  <li><a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a></li>
              </ul>
          </div>
           <a href="https://sacoronavirus.co.za/"><img alt="SACoronavirus Resource and News Portal" width="400" height="80" src="/assets/images/SACoronavirus.png"></a>
  </footer>
</div>
