<h2 style="text-align:center">Login</h2>
<br>
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
    
    <input type="text" name="Username" ngModel placeholder="Username" required><br>
    <input type="password" name="Password" ngModel placeholder="Password" required><br>
     <br><br><button type="submit">Login</button>
     <br><br>
     <a target="target" routerLink="/register" routerLinkActive="active">Register</a>&nbsp;&nbsp;
     <a target="target" routerLink="/forgot-password" routerLinkActive="active">Forgot password</a>
   </form>