<header>
  <h1>Lab Booking system</h1>
</header>
<h2 style="text-align:center">Login</h2>
<br>
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
    <input type="radio" [(ngModel)]="answer" value="student" name="student" required>Student 
    <input type="radio" [(ngModel)]="answer" value="lecturer" name="student" required>Lecturer
    <br><br>
    <label for="username">Username</label><br>
    <input type="text" name="stuNumber" ngModel placeholder="Username" required><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" ngModel placeholder="Password" required><br>
     <br><br><button type="submit">Login</button>
     <br><br>
     <a target="target" routerLink="/register" routerLinkActive="active">Register</a>&nbsp;&nbsp;
     <a target="target" routerLink="/forgot-password" routerLinkActive="active">Forgot password</a>

    
   </form>

   <br>

   <div id ="footer">
    <footer>
      <a class="contact" href="">contact Us</a><br><br>
      <a class="about" href="">About</a>
            <div class="footer-widget social-widget">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a></li>
                    <li><a class="twitter" href="https://twitter.com/official_tut">Twitter</a></li>
                    <li><a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a></li>
                </ul>
            </div>
             <a href="https://sacoronavirus.co.za/"><img alt="SACoronavirus Resource and News Portal" width="500" height="80" src="/LBS-front/src/assets/images/SACoronavirus.png"></a>
    </footer>
  </div> 
  