<h1>Welcome to Admin Portal</h1>
<nav>
    <a target="target" routerLink="/view-user" routerLinkActive="active">View User</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a target="target" routerLink="/booking-details" routerLinkActive="active">Booking Details</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a target="target" routerLink="/schedule" routerLinkActive="active">Schedule</a>&nbsp;&nbsp;|&nbsp;&nbsp;


    <button type="button" routerLink="/admin" >Refresh</button>
    <button type="button" routerLink="/index" >Logout</button>
   
</nav>
