<header>
     <h1>Lab Booking system</h1>
 </header>
<h2>Images here</h2>
<p>The Lab Booking system is an online booking facility 
    that facilitates lab administrators and lecturers to 
    book for computer labs, it check conflicts and allows 
    simultaneous bookings, updates of bookings, changes and 
    deletion of bookings. The system allows the lab administrators
    to add labs under their names, edit lab details, delete labs. 
    They may also add lab administrators. The system allows calendar
     view of all the labs, it gives daily, weekly and monthly views 
     of the calendar.</p>
<div style="text-align: center;">
     <a href="https://ictsapps.uct.ac.za/lab_system/">Learn More</a>
     <br><br><br><br>
     <button type="button" (click)="onClick()">Login</button><br><br>
     
     <a class="button" routerLink="/register" routerLinkActive="Activebutton">Register / Create an Account</a>
     

</div>

