
<nav>
  <a target="target" routerLink="/home" routerLinkActive="active">Home</a>&nbsp;&nbsp;|
  <a target="target" routerLink="/lab-booking" routerLinkActive="active">Lab Booking</a>&nbsp;&nbsp;|
  <a target="target" routerLink="/login" routerLinkActive="active">Logout</a>&nbsp;&nbsp;
</nav>
<br><br>
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
  
  <br><br>
    <div *ngFor="let details of student">
      
      <h3>
        Name:
        {{this.details.stu_name}}&nbsp;&nbsp;  <br><br>

        Surname:
        {{this.details.stud_surname}}&nbsp;&nbsp;<br><br>

        Student Number:
        {{this.details.stud_no}}&nbsp;&nbsp;<br><br>
        
        Email:
        
        {{this.details.email}}&nbsp;&nbsp;<br><br>
      </h3>
    </div>

  <label for="password">Old Password</label><br>
  <input type="password" name="password" ><br><br>

  <label for="password">Change Password</label><br>
  <input type="password" name="password" ><br><br>

  <label for="confirm">Confirm new Password</label><br>
  <input type="password" name="confirm" >

  <br><br><br>
  <button type="submit">Update</button>
  </form>
 
<br>

<div id ="footer">
  <footer>
    <a class="contact" href="">contact Us</a><br><br>
    <a class="about" href="">About</a>
          <div class="footer-widget social-widget">
              <h4>Follow Us</h4>
              <ul class="social-icons">
                  <li><a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a></li>
                  <li><a class="twitter" href="https://twitter.com/official_tut">Twitter</a></li>
                  <li><a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a></li>
              </ul>
          </div>
           <a href="https://sacoronavirus.co.za/"><img alt="SACoronavirus Resource and News Portal" width="500" height="80" src="/LBS-front/src/assets/images/SACoronavirus.png"></a>
  </footer>
</div> 
