

<h1>Lab Booking System</h1><br>
<h2 style="text-align:center">Reset Your Password</h2>
      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
        <label for="stuNumber">Student Number</label><br>
        <input type="text" name="stuNumber" ngModel placeholder="Student Number" required><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" ngModel placeholder="202045867@tut4life.ac.za" required><br>
        
         <br><br><button type="submit">Submit</button>
         <br><br>
         <a target="target" routerLink="/login" routerLinkActive="active">login here</a>&nbsp;&nbsp;
       </form>

       <br>

       <div id ="footer">
        <footer>
          <a class="contact" href="">contact Us</a><br><br>
          <a class="about" href="">About</a>
                <div class="footer-widget social-widget">
                    <h4>Follow Us</h4>
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a></li>
                        <li><a class="twitter" href="https://twitter.com/official_tut">Twitter</a></li>
                        <li><a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a></li>
                    </ul>
                </div>
                 <a href="https://sacoronavirus.co.za/"><img alt="SACoronavirus Resource and News Portal" width="500" height="80" src="/LBS-front/src/assets/images/SACoronavirus.png"></a>
        </footer>
      </div> 
      