<h2>Reset password</h2>
    <br>
    <form [formGroup]="resetpassForm" (ngSubmit)="onSubmit()">
    
       

        <br><br><label for="email">Email</label><br>
        <input id="email" type="email" formControlName="txt_email" placeholder="Email" required>

        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>

        
    
         <br><br><button type="submit" [disabled]="!resetpassForm.valid">Request otp</button>
        

        <!--
            
        <br><br><label for="password">Password</label><br>
        <input id="password" type="password" formControlName="txt_password" placeholder="Password" required>

        <br><br><label for="confirm">Confirm Password</label><br>
        <input id="confirm" type="password" formControlName="txt_confirm" placeholder="Confirm Password" required>

         <br><br><a target="login" routerLink="/login" routerLinkActive="active"> login </a> 

        -->        
      </form>
