<h2>Registration</h2>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="txt_name" placeholder="Name" required>
      
        <label for="surname">Surname</label>
        <input id="surname" type="text" formControlName="txt_surname" placeholder="Surname" required>

        <label for="email">Email</label>
        <input id="email" type="email" formControlName="txt_email" placeholder="Email" required>

        <label for="stuNumber">Student Number</label>
        <input id="stuNumber" type="number" formControlName="txt_stuNumber" placeholder="Student Number" required>

        <label for="password">Password</label>
        <input id="password" type="password" formControlName="txt_password" placeholder="Password" required>

        <label for="confirm">Confirm Password</label>
        <input id="confirm" type="password" formControlName="txt_confirm" placeholder="Confirm Password" required>
    
        <button type="submit" [disabled]="!registerForm.valid">register</button>
        <br><br>
        <a target="login" routerLink="/login" routerLinkActive="active">Already have an Acc? Login here</a>
        
      </form>