<center><h2>Registration</h2></center>

<center> <form class="form" action ="" method="POST">
                
    <p>Username</p>
    <p><input type="text" name="txt_username" placeholder="Username" required></p>

    <p>Surname</p>
    <p><input type="text" name="txt_surname" placeholder="Surname" required></p>

    <p>Email</p>
    <p><input type="email" name="txt_email" placeholder="Email" required></p>

    <p>Student Number</p>
    <p><input type="number" name="txt_stuNumber" placeholder="Student Number" required></p>

    <p>Password</p>
    <p><input type="password" name="txt_password" placeholder="Password" required></p>

    <p>Confirm Password</p>
    <p><input type="password" name="txt_confirm" placeholder="Confirm Password" required></p>

    <p><br><br><input id="btn" type="submit" name="btn_submit" value="Submit"> <input id="btn" type="reset" name="btn_reset" value="reset"></p>


</form></center>
